*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #010117;
}
header{
    background-color: #010117;
    width: 100%;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.container.header{
    padding: 15px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}
.container.header .logo{
    background-image: url("../images/logo-nike-1024.png");
    background-position: center;
    background-size: cover;
    width: 55px;
    cursor: pointer;
}
.container.header #menu nav ul{
    display: flex;
}
.container.header #menu nav ul li{
    list-style: none;
}
.container.header #menu nav ul li a{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
.container.header #menu nav ul li a:hover{
    color: #010117;
    background-color: #FFF;
    transition: .25s;
}
.container.header #menu nav ul li #buttonClose{
    display: none;
}
.container.header #menu .menu-bar{
    display: none;
}
.container.header #menu .menu-bar .bar{
    width: 20px;
    height: 3px;
    background-color: #FFF;
    margin: 3px;
    border-radius: 2px;
}
.container.header .background-menu{
    width: 0%;
}

.conteudo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
}
.conteudo .conteudo--left{
    background-color: #010117;
    color: #FFF;
    text-align: center;
    padding-top: 133px;
}
.conteudo .conteudo--left .name--tenis{
    font-size: 45px;
    font-weight: bold;
    color: #FFF;
}
.conteudo .conteudo--left p{
    font-size: 15px;
    padding-top: 55px;
    padding-bottom: 50px;
    color: #bbb;
}
.button{
    text-decoration: none;
    padding: 8px 13px;
    background-color: #FFF;
    color: #010117;
    font-weight: bold;
    font-size: 17px;
    border-radius: 3px;
}
.button:hover{
    opacity: 0.6;
    transition: 450ms;
}
.conteudo--right{
    align-items: center;
    color: #FFF;
}
.conteudo--right .tenis{
    width: 360px;
    height: 360px;
    background-image: url("../images/tenis-nike-air-zoom-pegasus-36-masculino-AQ2203-401-1.png");
    background-position: center;
    background-size: cover;
    margin: auto;
}
.conteudo--right .precos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -55px;
}
.conteudo--right .precos .desconto{
    font-size: 12px;
    color: #bbb;
}
.conteudo--right .precos .preco{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 26px;
}
.conteudo--right .precos .car{
    margin-left: 10px;
    position: relative;
    padding-right: 39px;
    
}
.conteudo--right .precos .buttons img{
    width: 23px;
    position: absolute;
}

.rodape{
    width: 100%;
    padding-bottom: 8px;
    bottom: 0;
    position: absolute;
    margin: auto;
    text-align: center;
    color: #FFF;
}
.rodape .criador{
    font-size: 15px;
}
.rodape .criador a{
    text-decoration: none;
    color: #666;
}
.rodape .criador a:hover{
    text-decoration: underline;
}

@media (max-width:426px){
    .container.header #menu nav{
        display: block;
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #030336;
        position: fixed;
        overflow: hidden;
        z-index: 9;
        transition: all 0.5s;
    }
    .container.header #menu nav ul{
        display: block;
    }
    .container.header #menu nav ul li{
        margin-top: 10px;
    }
    .container.header #menu nav ul li a{
        font-size: 13px;
    }
    .container.header #menu nav ul li #buttonClose{
        display: flex;
        flex-direction: row-reverse;
        padding: 7px;
        font-size: 23px;
        font-weight: bold;
        border-radius: 5px;
    }
    .container.header #menu nav ul li #buttonClose:hover{
        color: #010117;
        background-color: #FFF;
        transition: .25s;
    }
    .container.header #menu .menu-bar{
        display: block;
        cursor: pointer;
    }
    .container.header .background-menu{
        width: 0%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #000;
        opacity: 0.5;
        position: fixed;
        overflow: hidden;
        z-index: 8;
        transition: all 0.3s;
    }

    .conteudo{
        grid-template-columns: 1fr;
    }
    .conteudo .conteudo--left .name--tenis{
        font-size: 35px;
    }
    .conteudo .conteudo--left p{
        padding-top: 43px;
        padding-bottom: 34px
    }
    .conteudo--right .tenis{
        width: 300px;
        height: 300px;
    }
    .conteudo--right .precos .desconto{
        margin-top: 15px;
    }

    .rodape{
        position: relative;
        margin-top: 100px;
    }
}
